<div class="ui multiple selection dropdown">
  <input name="states" type="hidden" value="{{value}}" >
  <i class="dropdown icon"></i>
    {{#each value as |op|}}
        <a class="ui label" data-value="{{op}}">
            {{op}}
            <i class="delete icon" ></i>
        </a>
    {{/each}}
  <div class="menu">
    {{#each value as |op|}}
        <div data-value="{{op}}">{{op}}</div>
    {{/each}}
  </div>
</div>