<div ...attributes {{did-insert this.register}}>
  {{#if this.multiple}}
    {{! template-lint-disable require-input-label }}
    <input type="file" name="file" multiple />
  {{else}}
    <input type="file" name="file" />
  {{/if}}

  {{#if (has-block-params)}}
    {{yield this.uploader this.start this.abort this.fileObject}}
  {{else}}
    {{#unless this.autoUpload}}
      <UiButton @loading={{this.isUploading}} @onClick={{this.start}}>upload</UiButton>
    {{/unless}}
  {{/if}}
</div>