<button class="ui {{this.args.class}} {{if this.args.active "active" ""}} {{if this.args.loading "loading" ""}} {{if this.args.disabled "disabled" ""}} button" type="button" {{on "click" this.click}} >
  {{yield}}
</button>
