<div class="ui fields">
    {{#if this.args.label}}
    <label>{{this.args.label}}</label>
    {{/if}}
    {{#each this.options as |op|}}
    <UiCheckbox @value={{op.value}} @onChange={{this.childChange}} @checked={{op.checked}}>{{op.label}}</UiCheckbox>
    {{/each}}
</div>