<div class="ui {{@class}} fields" ...attributes>
  {{#if @label}}
    <label>{{@label}}</label>
  {{/if}}
  {{#each this.options as |op|}}
    <UiCheckbox
      @value={{op.value}}
      @name={{this.name}}
      @type={{this.type}}
      @onChange={{this.childOnChange}}
      @checked={{op.checked}}
    >{{op.label}}</UiCheckbox>
  {{/each}}

  {{yield this.childOnChange this.name}}

</div>