<div class="ui {{this.args.class}} checkbox" {{did-insert this.register}}>
  <input type="checkbox" tabindex="0" name="{{this.name}}" class="hidden" value="{{this.value}}">
  <label>{{yield}}</label>
</div>