<div class="ui {{this.args.class}} {{this.type}}" {{did-insert this.register}}>
  <input type="{{this.type}}" tabindex="0" name="{{this.name}}" class="hidden" value="{{this.value}}">
  <label>{{yield}}</label>
</div>