<div class="ui form">
    <div class="ui three fields" ...attributes>
        <div class="field">
            <label>日期</label>
            <UiDateInput @value={{this.d}} @onChange={{fn this.change "d" }} />
        </div>
        <div class="field">
            <label>小时</label>
            <UiSelect @value={{this.h}} @options={{this.hours}} @onChange={{fn this.change "h" }} />
        </div>
        <div class="field">
            <label>分钟</label>
            <UiSelect @value={{this.m}} @options={{this.minutes}} @onChange={{fn this.change "m" }} />
        </div>
    </div>
</div>