<div ...attributes class="ui {{this.statusClass}} input" >
  {{!-- template-lint-disable require-input-label --}}
  <input type="{{this.type}}" placeholder={{this.placeholder}} value="{{this.value}}" />
  {{yield}}
</div>


