<div ...attributes class="ui {{@type}} {{@class}} message" {{did-insert this.register}}>
  {{#if @close}}
  <i class="close icon" role="button" {{on "click" this.closeMessage}}></i>
  {{/if}}
  {{#if @header}}
  <div class="header">{{@header}}</div>
  {{/if}}
  {{#if @message}}
  <p>{{@message}}</p>
  {{/if}}
  {{#if @messages}}
  <ul class="list">
    {{#each @messages as |m|}}
    <li>{{m}}</li>
    {{/each}}
  </ul>
  {{/if}}

  {{yield}}
</div>