<select
  class="ui selection {{if this.search ' search' ''}} dropdown"
  ...attributes
  {{did-insert this.register}}
>

  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#each this.options as |item|}}
      {{#if item.selected}}
        <option
          value="{{item.value}}"
          selected="selected"
        >{{item.label}}</option>
      {{else}}
        <option value="{{item.value}}">{{item.label}}</option>
      {{/if}}
    {{/each}}
  {{/if}}

</select>