<select class="ui selection {{if this.search 'search'}} dropdown" ...attributes {{did-insert this.register}} {{did-update this.clear}} >

  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#each this.options as |item|}}
      <option value={{item.value}} selected={{if item.selected "selected" }}>{{item.label}}</option>
    {{/each}}
  {{/if}}

</select>