{{#if placeholder}}
    <option value="">{{placeholder}}</option> 
{{/if}}
{{#each _options as |item| }}
    {{#if item.selected }}
        <option value="{{item.value}}" selected="selected" >{{item.label}}</option> 
    {{else}}
        <option value="{{item.value}}">{{item.label}}</option> 
    {{/if}}
{{/each}}
