{{#if label}}
	<label>{{label}}</label>
{{/if}}
{{#each _options as |op|}}
    <UiCheckbox @value={{op.value}} @action={{action "childChange"}} @checked={{op.checked}}>{{op.label}}</UiCheckbox>
{{/each}}

{{yield (action "childChange") }}