<input type="hidden" name="{{name}}" value="" >
<i class="dropdown icon"></i>
{{#each _selectedOptions as |item|}}
    {{#if item.selected}}
    <a class="ui transition label visible" data-value="{{item.value}}" style="display: inline-block !important;"  >
        {{#if hasBlockParams}}
            {{yield item}}
        {{else}}
            {{item.label}}
        {{/if}}
        <i class="delete icon" ></i>
    </a>
    {{/if}}
{{/each}}
{{#if search}}
    <input class="search" autocomplete="off" tabindex="0">
{{/if}}
<div class="default text">{{placeHolder}}</div>
<div class="menu">
    {{! Executed in the when custome label display. }}
    {{#each _options as |item|}}
        <div class="item {{if item.selected 'active filtered' ''}}"  data-value="{{item.value}}">
            {{#if hasBlockParams}}
                {{yield item}}
            {{else}}
                {{item.label}}
            {{/if}}
        </div>
    {{/each}}
</div>