<input type="hidden" name="{{name}}" value="" >
<i class="dropdown icon"></i>
{{#if search}}
    <input class="search" autocomplete="off" tabindex="0">
{{/if}}
    {{#if _selectedOptions }}
        <div class="text">
            {{#each _selectedOptions as |item|}}
                {{#if item.selected}}
                    {{#if hasBlockParams}}
                        {{yield item}}
                    {{else}}
                        {{item.label}}
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
    {{else}}
        <div class="default text">{{placeHolder}}</div>
    {{/if}}
<div class="menu">
    {{! Executed in the when custome label display. }}
    {{#each _options as |item|}}
        <div class="item {{if item.selected 'active selected' ''}}"  data-value="{{item.value}}">
            {{#if hasBlockParams}}
                {{yield item}}
            {{else}}
                {{item.label}}
            {{/if}}
        </div>
    {{/each}}
</div>