<div class="ui container" >
    <div class="ui dividing header" >file input</div>
    <div class="ui two column grid" >
        <div class="row" >
            <div class="ui form" >
                    <div class="field">
                      <CodeHighlight @code={{code-show 'file-input' 0}} />
                    </div>
                    <div class="field" >
                        <FileInput @url={{"/upload"}} @autoUpload={{false}} @extra={{this.extra}} @uploadProgress={{this.uploadProgress}} @fileObject={{this.fileObject}} @uploadStart={{this.uploadStart}} @uploadSucess={{this.uploadSucess}}/>
                        {{#if this.fileObject}}
                            {{!-- template-lint-disable require-valid-alt-text --}}
                            <img src={{this.fileObject.base64Image}}>
                        {{/if}}
                    </div>
            </div>
        </div>
    </div>
</div>