<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-button' 0)}}
                </div>           
                <div class="ui segment">
                     <UiButton @theme="basic">button</UiButton>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-button' 1)}}
                </div>           
                <div class="ui segment">
                     <UiButton @theme="basic" @loading={{true}}>button</UiButton>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-button' 2)}}
                </div>           
                <div class="ui segment">
                     <UiButton @disabled={{true}}>button</UiButton>
                </div>

                
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-button' 3)}}
                </div>
                <div class="ui segment">
                    <UiButton @theme="primary">button</UiButton>
                </div>
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-button' 4)}}
                </div>
                <div class="ui segment">
                    <UiButton @theme="secondary">button</UiButton>
                </div>
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-button' 5)}}
                </div>
                <div class="ui segment">
                    <UiButton @theme="red">button</UiButton>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-button' 6)}}
                </div>
                <div class="ui segment">
                    <UiButton @theme="compact" @action={{action "clickMe" 'value'}}>
                        <i class="icon heart"></i>
                        heart
                    </UiButton>
                </div>
            </div>
        </div>
    </div>
</div>