<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 0) }}
                </div>           
                <div class="ui segment">
                    {{#ui-checkbox checked=isChecked }}normal{{/ui-checkbox}}
                    {{#ui-pointing-label theme="basic blue" direction="left"}}
                        {{isChecked}}
                    {{/ui-pointing-label}}
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 1) }}
                </div>           
                <div class="ui segment">
                    {{#ui-checkbox  checked=true }}normal{{/ui-checkbox}}
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 2) }}
                </div>           
                <div class="ui segment">
                    {{#ui-checkbox theme="toggle" }}toggle{{/ui-checkbox}}
                </div>
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 3) }}
                </div>           
                <div class="ui segment">
                    {{#ui-checkbox checked=true theme="toggle"}}toggle{{/ui-checkbox}}
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 4) }}
                </div>           
                <div class="ui segment">
                    {{#ui-checkbox theme="slider" }}slider{{/ui-checkbox}}
                </div>


                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 5) }}
                </div>           
                <div class="ui segment">
                    {{ui-checkbox value='i am checked' action=(action "checkedCheck") checked=true update=(action (mut value))}}
                    {{value}}
                </div>
            </div>
        </div>
    </div>
</div>