<div class="ui grid">
  <div class="row">
    <div class="column">

      <CodeHighlight @lang={{"javascript"}} >
import Controller from '@ember/controller';
import { action } from '@ember/object';
import { tracked } from '@glimmer/tracking';
import { inject as service } from '@ember/service';

export default class UiCheckboxController extends Controller {
  @service options;
  @tracked value = null;
  @tracked checked = false;

  @action
  onChange(checked, value) {
    this.checked = checked;
    if (checked) {
      this.value = value;
    } else {
      this.value = '';
    }
  }
}
      </CodeHighlight>

      <CodeHighlight @code={{code-show 'ui-checkbox' 0}} />
      <div class="ui segment">
        <UiCheckbox @checked={{this.isChecked}} @onChange={{this.onChange}}>normal</UiCheckbox>
        {{this.isChecked}}
      </div>

      <CodeHighlight @code={{code-show 'ui-checkbox' 1}} />
      <div class="ui segment">
        <UiCheckbox @checked={{true}}>normal</UiCheckbox>
      </div>

      <CodeHighlight @code={{code-show 'ui-checkbox' 2}} />
      <div class="ui segment">
        <UiCheckbox @class="toggle">toggle</UiCheckbox>
      </div>

      <CodeHighlight @code={{code-show 'ui-checkbox' 3}} />
      <div class="ui segment">
        <UiCheckbox @checked={{true}} @class="toggle">toggle</UiCheckbox>
      </div>

      <CodeHighlight @code={{code-show 'ui-checkbox' 4}} />
      <div class="ui segment">
        <UiCheckbox @class="slider">slider</UiCheckbox>
      </div>

      <CodeHighlight @code={{code-show 'ui-checkbox' 5}} />
      <div class="ui segment">
        <UiCheckbox @value={{"i am checked"}} @checked={{true}} @onChange={{this.onChange}} />
        {{this.value}}
      </div>
    </div>
  </div>
</div>