<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 0) }}
                </div>
                <div class="ui segment">
                    <UiCheckbox @checked={{this.isChecked}} @onChange={{this.onChange}} >normal</UiCheckbox>
                    {{this.isChecked}}
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 1) }}
                </div>
                <div class="ui segment">
                    <UiCheckbox @checked={{true}}>normal</UiCheckbox>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 2) }}
                </div>
                <div class="ui segment">
                    <UiCheckbox @class="toggle">toggle</UiCheckbox>
                </div>
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 3) }}
                </div>
                <div class="ui segment">
                    <UiCheckbox @checked={{true}} @class="toggle">toggle</UiCheckbox>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 4) }}
                </div>
                <div class="ui segment">
                    <UiCheckbox @class="slider">slider</UiCheckbox>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox' 5) }}
                </div>
                <div class="ui segment">
                    <UiCheckbox @value={{"i am checked"}} @checked={{true}} @onChange={{this.onChange}}  />
                    {{this.value}}
                </div>
            </div>
        </div>
    </div>
</div>