<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox-group' 0) }}
                </div>
                <div class="ui segment">
                    <div class="ui form" >
                        <UiCheckboxGroup @class="inline fields" @onChange={{this.onChange1}} as |valueChange|>
                            <label>choose company</label>
                            <div class="field" >
                                <UiCheckbox @value="apple" @onChange={{valueChange}}>apple</UiCheckbox>
                            </div>
                            <div class="field" >
                                <UiCheckbox @value="google" @onChange={{valueChange}}>google</UiCheckbox>
                            </div>
                            <div class="field" >
                                <UiCheckbox @value="dropbox" @onChange={{valueChange}}>dropbox</UiCheckbox>
                            </div>
                            <div class="field">
                                {{this.valueShow1}}
                            </div>
                        </UiCheckboxGroup>
                    </div>
                </div>

                <div class="ui segment">
                    <div class="ui header" >radio group</div>
                    <div class="ui form" >
                        <UiCheckboxGroup @class="inline fields" @type={{"radio"}} @onChange={{this.onChangeRadio1}} as |valueChange name|>
                            <label>choose company</label>
                            <div class="field" >
                                <UiCheckbox @value="apple" @name={{name}} @type={{"radio"}} @onChange={{valueChange}}>apple</UiCheckbox>
                            </div>
                            <div class="field" >
                                <UiCheckbox @value="google" @name={{name}} @type={{"radio"}} @onChange={{valueChange}}>google</UiCheckbox>
                            </div>
                            <div class="field" >
                                <UiCheckbox @value="dropbox" @name={{name}} @type={{"radio"}} @onChange={{valueChange}}>dropbox</UiCheckbox>
                            </div>
                            <div class="field">
                                {{this.radioValue1}}
                            </div>
                        </UiCheckboxGroup>
                    </div>
                </div>
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox-group' 1) }}
                </div>

                <div class="ui segment">
                    <div class="ui form" >
                        <UiCheckboxGroup @class="grouped fields" @label="choose company" @options={{this.options.options}} @onChange={{this.onChange2}}></UiCheckboxGroup>
                        <div class="field">
                            {{this.valueShow2}}
                        </div>
                    </div>
                </div>
                
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox-group' 2) }}
                </div>

                <div class="ui segment">
                    <div class="ui form" >
                        <UiCheckboxGroup @label="choose company" @class="inline fields" @options={{this.options.options}} @onChange={{this.onChange3}}></UiCheckboxGroup>
                        <div class="field">
                            {{this.valueShow3}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>