<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox-group' 0) }}
                </div>
                <div class="ui segment">
                    <div class="ui form" >
                        <UiCheckboxGroup @theme="inline fields" @value={{checkvalue}} as |valueChange|>
                            <label>choose company</label>
                            <div class="field" >
                                <UiCheckbox @value="apple" @action={{action valueChange}}>apple</UiCheckbox>
                            </div>
                            <div class="field" >
                                <UiCheckbox @value="google" @action={{action valueChange}}>google</UiCheckbox>
                            </div>
                            <div class="field" >
                                <UiCheckbox @value="dropbox" @action={{action valueChange}}>dropbox</UiCheckbox>
                            </div>
                            <div class="field">
                                {{checkvalueShow}}
                            </div>
                        </UiCheckboxGroup>
                    </div>
                </div>
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox-group' 1) }}
                </div>

                <div class="ui segment">
                    <div class="ui form" >
                        <UiCheckboxGroup @theme="grouped fields" @label="choose company" @options={{options.options}} @value={{checkvalue2}}></UiCheckboxGroup>
                        <div class="field">
                            {{checkvalueShow2}}
                        </div>
                    </div>
                </div>
                
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-checkbox-group' 2) }}
                </div>

                <div class="ui segment">
                    <div class="ui form" >
                        <UiCheckboxGroup @label="choose company" @theme="inline fields" @options={{options.options}} @value={{checkvalue3}}></UiCheckboxGroup>
                        <div class="field">
                            {{checkvalueShow3}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>