<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-form-input' 0)}}
                </div>

                <div class="ui segment">
                    <div class="ui form">
                        <UiFormInput>email</UiFormInput>
                    </div>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-form-input' 1)}}
                </div>

                <div class="ui segment">
                    <div class="ui form">
                    <UiFormInput @onChange={{action 'onchange'}} @onFocus={{action 'onfocus'}} @onFocusin={{action 'onfocusin'}} @onFocusout={{action 'onfocusout'}}>email</UiFormInput>
                    </div>
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th>type</th>
                                <th>value</th>
                                <th>time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each result as |item|}}
                            <tr>
                                <td>{{item.type}}</td>
                                <td>{{item.value}}</td>
                                <td>{{item.time}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>