<div class="ui grid">
	<div class="row">
		<div class="column">
			<div class="ui segments">
				<div class="ui segment">
					<UiInput @focus={{true}}></UiInput>
				</div>

				<div class="ui segment">
					<UiInput @class={{"icon"}} @loading={{true}}><i class="search icon"></i></UiInput>
				</div>

				<div class="ui segment">
					<UiInput @error={{true}}></UiInput>
				</div>

				<div class="ui segment">
					<UiInput @disabled={{true}} @value={{"search"}}></UiInput>
				</div>

				<div class="ui segment">
					<UiInput @readonly={{true}} @value={{"search"}}></UiInput>
				</div>

				<div class="ui segment">
					<label for="">email</label>
					<UiInput @onFocus={{this.onfocus}}></UiInput>
					{{this.result}}
				</div>
			</div>

			<div class="ui segments">
				<div class="ui segment">
					<UiInput @class="fluid icon" @value={{"search"}}>
						<i class="search icon"></i>
					</UiInput>
				</div>

				<div class="html ui segment">
					<UiInput @class="fluid action" @value={{"fluid"}}>
						<UiButton>search</UiButton>
					</UiInput>
				</div>

				<div class="html ui segment">
					<UiInput @class="mini icon" @value={{"search"}}>
						<i class="search icon"></i>
					</UiInput>
				</div>

				<div class="html ui segment">
					<UiInput @class="small icon" @value={{"search"}}>
						<i class="search icon"></i>
					</UiInput>
				</div>

				<div class="html ui segment">
					<UiInput @class="big icon" @value={{"search"}}>
						<i class="search icon"></i>
					</UiInput>
				</div>

				<div class="html ui segment">
					<UiInput @class="huge icon" @value={{"search"}}>
						<i class="search icon"></i>
					</UiInput>
				</div>
			</div>
		</div>
	</div>
</div>