<div class="ui grid">
  <div class="row">
    <div class="column">
      <CodeHighlight @code={{code-show "ui-input-tags" 0}} />
      <div class="ui segment">
        <UiInputTags @value={{this.value}} @onChange={{set this "value"}} />
        <p>{{this.valueShow}}</p>

        {{!-- template-lint-disable require-input-label --}}
        <div class="ui input" >
            <input type="text" placeholder="add new value" {{on "change" this.addValue }} >
        </div>
      </div>
    </div>
  </div>
</div>