{{outlet}}

<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-label' 0)}}
                </div>
                <div class="ui segment">
                     <UiLabel @theme="rblue image">
                         i am label
                        <div class="detail" >detail</div>
                    </UiLabel>
                </div>

                 <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-label' 1)}}
                </div>
                <div class="ui segment">
                    <UiLabel @theme="raised segment">
                        <div class="ribbon" >i am label</div>
                    </UiLabel>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-label' 2)}}
                </div>
                <div class="ui segment">
                   <UiLabel @theme="basic">label</UiLabel>
                </div>
                
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-label' 3)}}
                </div>
                <div class="ui segment">
                    <UiLabel @theme="basic red">label</UiLabel>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-label' 4)}}
                </div>
                <div class="ui segment">
                    <UiLabel @theme="red">label</UiLabel>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-label' 5)}}
                </div>

                <div class="ui segment">
                    <UiLabel @theme="red image">
                        <img src="https://www.baidu.com/img/bd_logo1.png">
                        baidu
                    </UiLabel>
                </div>

            </div>
        </div>
    </div>
</div>