{{outlet}}

<div class="ui grid">
	<div class="column">
		<div class="ui items">
			<h3>normal</h3>
			<UiButton @onClick={{this.clickHandler}}>click me</UiButton>
			<UiButton @onClick={{fn this.clickHandler "fullscreen"}}>Full Screen</UiButton>
			<UiButton @onClick={{fn this.clickHandler "overlay fullscreen"}}>Overlay Full Screen</UiButton>
			<UiButton @onClick={{fn this.clickHandler "mini"}}>mini</UiButton>
			<UiButton @onClick={{fn this.clickHandler "large"}}>large</UiButton>
			<UiButton @onClick={{fn this.clickHandler "longer"}}>longer</UiButton>
			<div class="item">
				<CodeHighlight @code={{code-show 'ui-modal' 0}} />
			</div>
			<div class="item">
				<UiModal @show={{this.display}}  @onShow={{this.onShow}} @onApprove={{this.onApprove}} @onHide={{this.onHide}} @onDeny={{this.onDeny}} @class={{this.class}}>
					<UiModal::Title>modal 1</UiModal::Title>
					<UiModal::Content class="image">
						<div class="ui small image" >
							<img src="//www.baidu.com/img/bd_logo1.png">
						</div>
						<div class="description" >
							<div class="ui header" >
								<p>first role</p>
							</div>
						</div>
					</UiModal::Content>
					<UiModal::Foot>
						<div class="ui black deny button">
						    Nope
						</div>
						<div class="ui positive right labeled icon button">
						    Yep, that's me <i class="checkmark icon"></i>
						</div>
					</UiModal::Foot>
				</UiModal>
		    </div>
		</div>
	</div>
</div>