{{outlet}}

<div class="ui grid">
	<div class="column">
		<div class="ui items">
			<h3>normal</h3>
			<UiButton @action={{action "clickHandler"}}>click me</UiButton>
			<UiButton @action={{action "clickHandler" "horizontal flip"}}>Horizontal Flip</UiButton>
			<UiButton @action={{action "clickHandler" "vertical flip"}}>Vertical Flip</UiButton>
			<UiButton @action={{action "clickHandler" "fade up"}}>Fade Up</UiButton>
			<UiButton @action={{action "clickHandler" "fade"}}>Fade</UiButton>
			<UiButton @action={{action "clickHandler" "scale"}}>Scale</UiButton>
			<div class="item">
                {{code-highlight code=(code-show 'ui-modal' 0)}}
			</div>
			<div class="item">
				<UiModal @show={{display}} @onShow={{action "onShow"}} @onApprove={{action "onApprove"}} @onHide={{action "onHide"}} @onDeny={{action "onDeny"}} @transition={{transition}}>
					<UiModalTitle>modal 1</UiModalTitle>
					<UiModalContent @theme="image">
						<div class="ui small image" >
							<img src="//www.baidu.com/img/bd_logo1.png">
						</div>
						<div class="description" >
							<div class="ui header" >
								<p>first role</p>
							</div>
						</div>
					</UiModalContent>
					<UiModalFoot>
						<div class="ui black deny button">
						    Nope
						</div>
						<div class="ui positive right labeled icon button">
						    Yep, that's me <i class="checkmark icon"></i>
						</div>
					</UiModalFoot>
				</UiModal>
		    </div>
		</div>
	</div>
</div>