<div class="ui container">
	<div class="ui list">
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 0)}}
		</div>
		<div class="item" >
			{{#ui-message type="info" header="这是一条提示消息"}}{{/ui-message}}
		</div>
		
		<br><br>
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 1)}}
		</div>
		<div class="item" >
			{{#ui-message type="success" header="这是一条成功消息"}}{{/ui-message}}
		</div>
		
		<br><br>
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 2)}}
		</div>
		<div class="item" >
			{{#ui-message type="error" header="这是一条错误消息"}}{{/ui-message}}
		</div>
		
		<br><br>
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 3)}}
		</div>
		<div class="item" >
			{{#ui-message type="warning" header="这是一条警告消息"}}{{/ui-message}}
		</div>
		
		<br><br>
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 4)}}
		</div>
		<div class="item" >
			{{#ui-message header="这是一条消息"}}{{/ui-message}}
		</div>
		
		<br><br>
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 5)}}
		</div>
		<div class="item" >
			{{#ui-message header="这是超大号消息" size="massive"}}{{/ui-message}}
		</div>
		
		<br><br>
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 6)}}
		</div>
		<div class="item" >
			{{#ui-message close=true header="这是一条可清除的消息"}}{{/ui-message}}
		</div>
		
		<br><br>
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 7)}}
		</div>
		<div class="item" >
			{{#ui-message header="这是一条可自动消除的消息" timeout=20000 }}{{/ui-message}}
		</div>
		
		<br><br>
		<div class="item">
            {{code-highlight code=(code-show 'ui-message' 8)}}
		</div>
		<div class="item" >
			{{#ui-message header="这是一条带内容的消息"}}
				<ul>
					<li>
						<p>第一点</p>
					</li>
					<li>
						<p>第二点</p>
					</li>
				</ul>
			{{/ui-message}}
		</div>
	</div>
</div>