{{outlet}}

<div class="ui grid">
	<div class="column">
		<div class="ui items">
			<h3>normal</h3>
			<UiButton @click={{this.clickHandler}}>click me</UiButton>
			<UiButton @click={{fn this.clickHandler "horizontal flip"}}>Horizontal Flip</UiButton>
			<UiButton @click={{fn this.clickHandler "vertical flip"}}>Vertical Flip</UiButton>
			<UiButton @click={{fn this.clickHandler "fade up"}}>Fade Up</UiButton>
			<UiButton @click={{fn this.clickHandler "fade"}}>Fade</UiButton>
			<UiButton @click={{fn this.clickHandler "scale"}}>Scale</UiButton>
			<div class="item">
          {{code-highlight code=(code-show 'ui-modal' 0)}}
			</div>
			<div class="item">
				<UiModal @show={{this.display}} @onShow={{this.onShow}} @onApprove={{this.onApprove}} @onHide={{this.onHide}} @onDeny={{this.onDeny}} @transition={{this.transition}}>
					<UiModal::Title>modal 1</UiModal::Title>
					<UiModal::Content @class="image">
						<div class="ui small image" >
							<img src="//www.baidu.com/img/bd_logo1.png">
						</div>
						<div class="description" >
							<div class="ui header" >
								<p>first role</p>
							</div>
						</div>
					</UiModal::Content>
					<UiModal::Foot>
						<div class="ui black deny button">
						    Nope
						</div>
						<div class="ui positive right labeled icon button">
						    Yep, that's me <i class="checkmark icon"></i>
						</div>
					</UiModal::Foot>
				</UiModal>
		    </div>
		</div>
	</div>
</div>