{{outlet}}

<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                 
                 <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-pointing-label' 0)}}
                </div>           
                <div class="ui segment">
                    <UiPointingLabel @theme="red" @direction="left">
                        below label
                    </UiPointingLabel>
                </div>
                
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-pointing-label' 1)}}
                </div>
                <div class="ui segment">
                    <UiPointingLabel @theme="tag blue" @direction="below">
                        label
                    </UiPointingLabel>
                </div>


                 <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-pointing-label' 2)}}
                </div>
                <div class="ui segment">
                    <UiPointingLabel @direction="below">
                        below label
                    </UiPointingLabel>
                </div>


                 <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-pointing-label' 3)}}
                </div>
                <div class="ui segment">
                    <UiPointingLabel @direction="left">
                        left label
                    </UiPointingLabel>
                </div>

                 <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-pointing-label' 4)}}
                </div>
                <div class="ui segment">
                    <UiPointingLabel @direction="right">
                        right lbale
                    </UiPointingLabel>
                </div>

           </div>
        </div>
    </div>
</div>