<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-radio-group' 0)}}
                </div>           
                <div class="ui segment">
                    <div class="ui form" >
                        <UiRadioGroup @theme="grouped" @value={{checkvalue}} @name="co1" as |vc|>
                            <label>choose company</label>
                        <div class="field" >
                            <UiRadio @value="apple" @action={{vc}}>apple</UiRadio>
                        </div>
                        <div class="field" >
                            <UiRadio @value="google" @action={{vc}}>google</UiRadio>
                        </div>
                        <div class="field" >
                            <UiRadio @value="dropbox" @action={{vc}}>dropbox</UiRadio>
                        </div>
                        <div class="field">
                            {{checkvalue}}
                        </div>
                        </UiRadioGroup>
                    </div>
                </div>
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-radio-group' 1)}}
                </div>           
                <div class="ui segment">
                    <div class="ui form" >
                        <UiRadioGroup @name="co3" @labelPath="name" @label="choose company" @theme="inline fields" @options={{options.options}} @value={{checkvalue3}}>
                        </UiRadioGroup>
                        <div class="field">
                            {{checkvalue3}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>