<div class="ui grid">
  <div class="row">
    <div class="column">
      <CodeHighlight @lang={{"javascript"}} >
import Service from '@ember/service';
export default class OptionService extends Service {
    constructor() {
      super(...arguments);
      this.options = [
        { name: 'google', value: 'google' },
        { name: 'apple', value: 'apple' },
        { name: 'dropbox', value: 'dropbox' },
        { name: 'twitter', value: 'twitter' },
        { name: 'facebook', value: 'facebook' },
      ];
    }
  }
      </CodeHighlight>
      <pre class='hljs language-handlebars' >
      {{render-html '
  <div class="ui segment">
    <div class="meta">
      {{this.value}}
    </div>
    <UiSelect @search={{true}} @value="apple"
    @options={{this.options.options}} @onChange={{set this "value" }} />
  </div>
        ' 'handlebars'
      }}
  </pre>
      <div class="ui segments">
        <div class="ui segment">
          <div class="meta">
            {{this.value}}
          </div>
          <UiSelect @search={{true}} @value="apple" @options={{this.options.options}} @onChange={{set this "value" }} />
        </div>
      </div>
    </div>
  </div>
</div>