<div class="ui container" >
    <div class="ui dividing header" >ui uploader</div>
    <div class="ui grid" >
        <div class="column" >
            <div class="ui form" >
                <div class="field">
                  <CodeHighlight @code={{code-show 'ui-uploader' 0}} />
                </div>
                <UiUploader @multiple={{true}} @url={{"/upload"}} @autoUpload={{true}} @uploadStart={{this.uploadStart}} @uploadProgress={{this.uploadProgress}} @uploadSucess={{this.uploadSucess}} @deleteFile={{this.deleteFile}}></UiUploader>
            </div>
        </div>
    </div>
</div>